.auth-component-container {
  & .ant-tabs-nav-scroll {
    text-align: center;
  }

  & .login-container {
    & .remember-forgot-form-item .ant-form-item-children {
      display: flex;
      justify-content: space-between;
    }
  }
}
